@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #1a1a1a;
	color: #fff;
}

h2 {
	font-size: 3rem;
}

.active {
	position: relative;
}

.active::after {
	content: '';
	position: absolute;
	height: 4px;
	width: calc(100% - 32px);
	bottom: 8px;
	left: 16px;
	background: linear-gradient(90deg, #941b85 0%, #552280 66.15%, #303aeb 100%);
}

nav li {
	cursor: pointer;
}

nav li:hover a,
.flowing-gradient:hover a {
	position: relative;
}

header nav li:hover a::after {
	width: calc(100% - 32px);
	left: 16px;
	bottom: 8px;
}

footer nav li:hover a::after {
	bottom: -8px;
}

nav li:hover a::after {
	height: 4px;
}

.flowing-gradient:hover a::after,
footer nav li:hover a::after {
	width: 100%;
	left: 0;
}

.flowing-gradient:hover a::after {
	height: 8px;
	bottom: 0;
}

nav li:hover a::after,
.flowing-gradient:hover a::after {
	content: '';
	position: absolute;
	background: linear-gradient(
		90deg,
		#941b85 0%,
		#552280 22.22%,
		#303aeb 33.33%,
		#941b85 50%,
		#552280 77.77%,
		#303aeb 100%
	);

	background-size: 300% 300%;

	-webkit-animation: FlowGradient 3s ease;
	-moz-animation: FlowGradient 3s ease;
	animation: FlowGradient 3s ease;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes FlowGradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
@-moz-keyframes FlowGradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
@keyframes FlowGradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.copy:hover {
	cursor: url('~/public/icons/copy.svg'), pointer;
}

.copy.copied:hover {
	cursor: url('~/public/icons/copied.svg'), pointer;
}
