@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: theme('colors.platinum');
	color: theme('colors.green');
}

h2 {
	font-size: 3rem;
}

.active {
	position: relative;
}

.active::after {
	content: '';
	position: absolute;
	height: 2px;
	width: calc(100% - 32px);
	bottom: 8px;
	left: 16px;
	background: theme('colors.yellow');
}

nav li {
	cursor: pointer;
}

nav li:hover a,
.flowing-gradient:hover a {
	position: relative;
}

header nav li:hover a::after {
	width: calc(100% - 32px);
	left: 16px;
	bottom: 8px;
}

footer nav li:hover a::after {
	bottom: -8px;
}

nav li:hover a::after {
	height: 2px;
}

.flowing-gradient:hover a::after,
footer nav li:hover a::after {
	width: 100%;
	left: 0;
}

.flowing-gradient:hover a::after {
	height: 8px;
	bottom: 0;
}

nav li:hover a::after,
.flowing-gradient:hover a::after {
	content: '';
	position: absolute;
	background: theme('colors.yellow');
}

.copy:hover {
	cursor: url('~/public/icons/copy.svg'), pointer;
}

.copy.copied:hover {
	cursor: url('~/public/icons/copied.svg'), pointer;
}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.menu-tabs span.active {
	color: theme('colors.green');
}

.menu-tabs span.active::after {
	width: 100%;
	bottom: -0.5rem;
	left: 0;
}
