@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: theme('colors.platinum');
	color: theme('colors.green');
}

h2 {
	font-size: 3rem;
}

.active::after,
.menu-tabs span:hover::after {
	content: '';
	position: absolute;
	height: 2px;
	width: calc(100% - 32px);
	bottom: 8px;
	left: 16px;
	background: theme('colors.yellow');
}

nav li {
	cursor: pointer;
}

.active,
nav li:hover a,
.underline-yellow:hover a,
.menu-tabs span:hover {
	position: relative;
}

header nav li:hover a::after {
	width: calc(100% - 32px);
	left: 16px;
	bottom: 8px;
}

footer nav li:hover a::after {
	bottom: -8px;
}

nav li:hover a::after {
	height: 2px;
}

.underline-yellow:hover a::after,
footer nav li:hover a::after {
	width: 100%;
	left: 0;
}

.underline-yellow:hover a::after {
	height: 8px;
	bottom: 0;
}

nav li:hover a::after,
.underline-yellow:hover a::after,
.menu-tabs span:hover::after {
	content: '';
	position: absolute;
	background: theme('colors.yellow');
}

.copy:hover {
	cursor: url('~/public/icons/copy.svg'), pointer;
}

.copy.copied:hover {
	cursor: url('~/public/icons/copied.svg'), pointer;
}

.full-width {
	width: calc(100vw - 0.5rem);
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.menu-tabs span:hover {
	position: relative;
}

.menu-tabs span.active {
	color: theme('colors.green');
}

.menu-tabs span.active::after,
.menu-tabs span:hover::after {
	width: 100%;
	bottom: -0.5rem;
	left: 0;
}

.keyvisual-gradient {
	background: linear-gradient(
		180deg,
		rgba(60, 46, 33, 0) 32.66%,
		rgba(60, 46, 33, 0.4) 60.25%
	);
}

.bg-services-background {
	background-image: url('../public/images/jayce-coffee.png');
}

.bg-about-background,
.bg-mywork-background {
	background-image: url('../public/images/jayce-yuna.png');
}

.modal {
	height: 100%;
}

.inner-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.modal-enter {
	opacity: 0;
	pointer-events: none;
	transform: translateY(-400px);
}

.modal-enter-active {
	opacity: 1;
	pointer-events: visible;
	transform: translateY(0);
	transition: all 700ms;
}

.modal-exit {
	opacity: 1;
	pointer-events: visible;
	transform: translateY(0);
}

.modal-exit-active {
	opacity: 0;
	pointer-events: none;
	transform: translateY(-400px);
	transition: all 700ms;
}
